:root {
    --primary: #F6F1D1;
    --secondary: #CFD7C7;
    --primary-text: #0B2027;
    --secondary-text: #40798C;
    --marked: #70A9A1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 60%;
    aspect-ratio: 1/1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary);
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.logo {
    margin-bottom: 20%;
    height: 20%;
    text-decoration: none;
}

form {
    height: 80%;
    width: 100%;
    padding: 2%;;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

input {
    height: 10%;
    width: 90%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: whitesmoke;
}

input[type=submit]:hover {
    background-color: var(--marked);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

a {
    text-decoration: underline;
    color: var(--primary-text);
    align-self: flex-start;
    padding-left: 5%;
}

a:hover {
    color: var(--marked);
}

#bg-picture {
    position: absolute;
    height: 100vh;
    opacity: 0.15;
    z-index: -1;
}